@font-face { font-family: Nasalization; src: url('nasalization-rg.otf'); } 


.image_logo_home
{
    position:fixed;
    right:37%;
    top:40%;
}
.footer_home
{
    text-align: center;
    background-color:white;
    position:fixed;
    bottom:5%;
    top:90%;
    left:20%;
    right:20%;

    border-radius: 25px;
    padding: 20px;
}
a
{
    font-family: Nasalization;
    font-size:200%;
    color:black;
    text-decoration: none;
}
a:link {
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color: black;
  }

  a:active {
    color: black;
  }

  .link_footer
{
    position:fixed;
    left:38%;
    bottom:6%;
}
.menu_projet
{
    background-color:white;
    border-radius: 25px;
    padding: 20px;
    position:fixed;
    top:3%;
    left:73%;
    right:18%;
    text-align: center;
    font-size:90%;
    text-decoration: none;
}
.menu_contact
{
    background-color:white;
    border-radius: 25px;
    padding: 20px;
    position:fixed;
    top:3%;
    left:85%;
    right:5%;
    text-align: center;
    font-size:90%;
    text-decoration: none;
}