a
{
    font-family: Nasalization;
    font-size:200%;
    color:black;
    text-decoration: none;
}
a:link {
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color: black;
  }

  a:active {
    color: black;
  }

  .link_footer
{
    position:fixed;
    left:38%;
    bottom:6%;
}
.menu_projet
{
    background-color:white;
    border-radius: 25px;
    padding: 20px;
    position:fixed;
    top:3%;
    left:73%;
    right:18%;
    text-align: center;
    font-size:90%;
    text-decoration: none;
}
.menu_contact
{
    background-color:white;
    border-radius: 25px;
    padding: 20px;
    position:fixed;
    top:3%;
    left:85%;
    right:5%;
    text-align: center;
    font-size:90%;
    text-decoration: none;
}
.logo_projet
{
    height:7%;
    position: fixed;
    left:4%;
    top:3%;
}
.body_projet
{
    background-color:rgb(223, 223, 223);
    border-radius: 25px;
    padding: 20px;
    position:fixed;
    top:13%;
    left:10%;
    right:10%;
    bottom:5%;
}
.projet_card_calccont
{
    box-shadow: 1px 1px 12px #555;
    background-color:red;
    position:fixed;
    left:15%;
    right:60%;
    top:17%;
    bottom:55%;
}
.logo_calcul_contest
{
    height: 100%;
}
.description_calccont
{
    text-align: center;
    background-color: rgba(128, 128, 128, 0.5);
    position: fixed;
    left:15%;
    right:60%;
    top:38%;
    bottom:55%;
}
